html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: rgb(185, 217, 228);
  font-family: 'Roboto Condensed';
  color: black;
}

/* Styles the nav bar */
#nav-bar {
  background-color: rgb(73, 72, 72);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
#logoAndHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 30px;
}
#compose {
  background-color: white;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;

}
#compose:hover {
  font-weight: bold;
  border: 2px solid;
  cursor: pointer;
}
.logo {
  margin-left: 10px;
  height: 80px;
  width: 80px;
}

/* Styles the whole body excluding the nav bar */
#container {
  padding: 50px;
  padding-top: 130px;
  width: 450px;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
}

/* Styles the compose a new tweet section */
#new-tweet {
  background-color: rgb(73, 72, 72);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#new-tweet h2 {
  color: white;
  font-weight: normal;
}
#newTweetForm textarea {
  background-color: white;
  width: 100%;
  max-width: 327px;
  min-width: 275px;
  padding: 10px;
  cursor: pointer;
}
#counter {
  float: right;
  color: white;
}
.error {
  display: flex;
  color: red;
  background-color: rgb(73, 72, 72);
  border-bottom: none;
  line-height: 20px;
  padding: 0;
}

/* styles the previews tweets section */
#allTweets {
  background-color: rgb(73, 72, 72);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.tweet {
  background-color: rgb(231, 231, 231);
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.75;
}
.tweet header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
h5 {
  line-height: 20px;
  margin-top: 0;
  width: 70%;
  padding: 10px;
  padding-top: 0;
}
h6 {
  line-height: 20px;
  margin-top: 0;
}
p {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-bottom: 1px solid black;
}
.content {
  border-bottom: none;
  overflow-wrap: break-word;
}
.icons {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 5px;
  width: 70px;
}
article:hover {
  opacity:1;
}
article:hover .icons {
  opacity: 1;
}
#heart:hover {
  color: rgb(241, 56, 87);
  cursor: pointer;
}
#retweet:hover {
  color: rgb(0, 179, 104);
  cursor: pointer;
}
#flag:hover {
  color: rgb(250, 146, 9);
  cursor: pointer;
}